include ..\..\..\..\dev\temp\components\post-card\template
include ..\..\..\..\dev\temp\components\button\template


mixin module-personal-news(data, attrs)
  section.content-section&attributes(attrs)
    .section-body._body
      ._inner

        each news in data.data
          +component-post-card(news, {}, {
            class: 'section-body__post-card'
          })
    
    .section-footer._footer
      ._actions
        +component-button({
          title: 'Показать еще',
          type: 'secondary'
        }, {
          class: 'section-footer__button'
        })
