.profile {
  display: flex;
  align-items: center;

  &__photo {
    flex-shrink: 0;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    background: var(--secondary-color) url('data:image/svg+xml,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.6564 9.10292C12.4939 8.44766 13.1051 7.5491 13.4051 6.53226C13.7052 5.51541 13.6791 4.43084 13.3304 3.42944C12.9818 2.42804 12.328 1.55961 11.46 0.944954C10.592 0.330302 9.5529 0 8.48733 0C7.42176 0 6.38269 0.330302 5.51466 0.944954C4.64664 1.55961 3.99284 2.42804 3.64421 3.42944C3.29559 4.43084 3.26948 5.51541 3.56951 6.53226C3.86955 7.5491 4.48081 8.44766 5.31826 9.10292C3.88327 9.67468 2.6312 10.623 1.69552 11.8468C0.759834 13.0705 0.175619 14.5239 0.00515238 16.0519C-0.00718685 16.1635 0.00268934 16.2764 0.0342168 16.3841C0.0657443 16.4919 0.118306 16.5924 0.1889 16.68C0.331472 16.8568 0.538841 16.9701 0.765388 16.9949C0.991935 17.0197 1.2191 16.9539 1.39692 16.8121C1.57473 16.6703 1.68863 16.4641 1.71355 16.2388C1.90112 14.5782 2.69731 13.0445 3.95002 11.9308C5.20273 10.817 6.82412 10.2014 8.50442 10.2014C10.1847 10.2014 11.8061 10.817 13.0588 11.9308C14.3115 13.0445 15.1077 14.5782 15.2953 16.2388C15.3185 16.4476 15.4187 16.6403 15.5764 16.78C15.7342 16.9196 15.9383 16.9961 16.1495 16.9949H16.2434C16.4674 16.9693 16.672 16.8567 16.8128 16.6816C16.9536 16.5066 17.0192 16.2833 16.9951 16.0604C16.8239 14.5281 16.2365 13.071 15.296 11.8453C14.3555 10.6197 13.0974 9.67165 11.6564 9.10292ZM8.48733 8.49977C7.81155 8.49977 7.15095 8.30048 6.58907 7.9271C6.02718 7.55372 5.58924 7.02302 5.33063 6.4021C5.07202 5.78119 5.00436 5.09796 5.13619 4.43881C5.26803 3.77965 5.59345 3.17418 6.0713 2.69895C6.54914 2.22373 7.15796 1.9001 7.82075 1.76898C8.48354 1.63787 9.17054 1.70516 9.79488 1.96235C10.4192 2.21954 10.9528 2.65508 11.3283 3.21388C11.7037 3.77269 11.9041 4.42966 11.9041 5.10173C11.9041 6.00295 11.5441 6.86725 10.9034 7.50451C10.2626 8.14176 9.39352 8.49977 8.48733 8.49977Z" fill="white"/%3E%3C/svg%3E%0A') center no-repeat;
    border-radius: 50%;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__name {
    position: relative;
    margin: 0 0 5px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      width: 9px;
      height: 9px;
      background-image: url('data:image/svg+xml,%3Csvg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.6" d="M8.94372 4.2146C8.90801 4.12261 8.85446 4.03857 8.78615 3.9673L5.03459 0.220387C4.96463 0.150516 4.88158 0.0950911 4.79018 0.057277C4.69877 0.0194629 4.60081 0 4.50187 0C4.30206 0 4.11044 0.0792757 3.96915 0.220387C3.89919 0.290258 3.8437 0.373208 3.80584 0.464499C3.76798 0.55579 3.74849 0.653636 3.74849 0.752449C3.74849 0.952011 3.82786 1.1434 3.96915 1.28451L6.44518 3.74998H0.750312C0.551317 3.74998 0.360472 3.82893 0.219761 3.96947C0.0790506 4.11 0 4.30061 0 4.49936C0 4.69811 0.0790506 4.88872 0.219761 5.02925C0.360472 5.16979 0.551317 5.24874 0.750312 5.24874H6.44518L3.96915 7.71421C3.89882 7.78388 3.84301 7.86676 3.80491 7.95808C3.76682 8.0494 3.74721 8.14735 3.74721 8.24627C3.74721 8.3452 3.76682 8.44315 3.80491 8.53447C3.84301 8.62579 3.89882 8.70867 3.96915 8.77833C4.0389 8.84857 4.12189 8.90432 4.21332 8.94237C4.30475 8.98041 4.40282 9 4.50187 9C4.60092 9 4.69899 8.98041 4.79042 8.94237C4.88186 8.90432 4.96484 8.84857 5.03459 8.77833L8.78615 5.03142C8.85446 4.96015 8.90801 4.87611 8.94372 4.78413C9.01876 4.60168 9.01876 4.39704 8.94372 4.2146Z" fill="%230F1516"/%3E%3C/svg%3E%0A');
    }

    &:last-child { margin-bottom: 0; }
  }
}
