.link-more {
  display: inline-flex;
  align-items: center;
  color: rgba(15, 21, 22, 0.6);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;

  &::after {
    content: '';
    flex-shrink: 0;
    position: relative;
    top: 1px;
    margin-left: 5px;
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('data:image/svg+xml,%3Csvg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.6" d="M7.94997 3.74631C7.91823 3.66454 7.87063 3.58984 7.80991 3.52649L4.47519 0.1959C4.41301 0.133792 4.33918 0.0845254 4.25794 0.0509129C4.17669 0.0173003 4.08961 0 4.00166 0C3.82405 0 3.65372 0.0704672 3.52813 0.1959C3.46595 0.258007 3.41662 0.33174 3.38297 0.412888C3.34931 0.494036 3.33199 0.58101 3.33199 0.668843C3.33199 0.846231 3.40254 1.01635 3.52813 1.14179L5.72905 3.33331H0.666944C0.490059 3.33331 0.32042 3.40349 0.195343 3.52842C0.0702672 3.65334 0 3.82277 0 3.99943C0 4.1761 0.0702672 4.34553 0.195343 4.47045C0.32042 4.59537 0.490059 4.66555 0.666944 4.66555H5.72905L3.52813 6.85708C3.46562 6.919 3.416 6.99267 3.38214 7.07385C3.34828 7.15502 3.33085 7.24208 3.33085 7.33002C3.33085 7.41795 3.34828 7.50502 3.38214 7.58619C3.416 7.66737 3.46562 7.74104 3.52813 7.80296C3.59013 7.8654 3.6639 7.91495 3.74517 7.94877C3.82645 7.98259 3.91362 8 4.00166 8C4.08971 8 4.17688 7.98259 4.25815 7.94877C4.33943 7.91495 4.41319 7.8654 4.47519 7.80296L7.80991 4.47238C7.87063 4.40902 7.91823 4.33432 7.94997 4.25256C8.01668 4.09038 8.01668 3.90848 7.94997 3.74631Z" fill="%230F1516"/%3E%3C/svg%3E%0A');
    vertical-align: middle;
  }

  &--lighten {
    color: rgba(255, 255, 255, 0.6);

    &::after {
      background-image: url('data:image/svg+xml,%3Csvg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.6" d="M7.94997 3.74631C7.91823 3.66454 7.87063 3.58984 7.80991 3.52649L4.47519 0.1959C4.41301 0.133792 4.33918 0.0845254 4.25794 0.0509129C4.17669 0.0173003 4.08961 0 4.00166 0C3.82405 0 3.65372 0.0704672 3.52813 0.1959C3.46595 0.258007 3.41662 0.33174 3.38297 0.412888C3.34931 0.494036 3.33199 0.58101 3.33199 0.668843C3.33199 0.846231 3.40254 1.01635 3.52813 1.14179L5.72905 3.33331H0.666944C0.490059 3.33331 0.32042 3.40349 0.195343 3.52842C0.0702672 3.65334 0 3.82277 0 3.99943C0 4.1761 0.0702672 4.34553 0.195343 4.47045C0.32042 4.59537 0.490059 4.66555 0.666944 4.66555H5.72905L3.52813 6.85708C3.46562 6.919 3.416 6.99267 3.38214 7.07385C3.34828 7.15502 3.33085 7.24208 3.33085 7.33002C3.33085 7.41795 3.34828 7.50502 3.38214 7.58619C3.416 7.66737 3.46562 7.74104 3.52813 7.80296C3.59013 7.8654 3.6639 7.91495 3.74517 7.94877C3.82645 7.98259 3.91362 8 4.00166 8C4.08971 8 4.17688 7.98259 4.25815 7.94877C4.33943 7.91495 4.41319 7.8654 4.47519 7.80296L7.80991 4.47238C7.87063 4.40902 7.91823 4.33432 7.94997 4.25256C8.01668 4.09038 8.01668 3.90848 7.94997 3.74631Z" fill="white"/%3E%3C/svg%3E%0A');
    }
  }
}
