include { logo-site, menu-profile, social-buttons } from components

mixin module-page-aside(data, attrs)
  aside.page-aside&attributes(attrs)
    ._inner.js-page-aside
    
      ._header
        +component-logo-site({}, {
          class: 'page-aside__logo-site'
        })
      
      ._body
        +component-menu-profile({
          heading: 'Меню родителя:',
          data: DATA.menu.profile
        }, {
          class: 'page-aside__menu-profile'
        })
      
      ._footer
        +component-social-buttons(DATA.social, {
          class: 'page-aside__social-buttons'
        })
