extends _template

include component:input-text
include component:input-control
include component:select
include component:dropzone
include component:button

include module:child

block append settings
  -
    var heading = 'Добавление ребёнка';

block main-content

  // start content-header 
  a.content-header(href='childs.html' title='Вернуться в раздел "Мои дети"' class='main-content__header')
    ._container.container
      ._main
        h1._heading.-back= heading
  // end content-header 

  // start content-body 
  .content-body(class='main-content__body')
    ._container.container

      +module-child('add', {
        class: 'js-child-form-add'
      })

  // end content-body 
