extends _template

include { work-tips, personal-offers, current-shares, latest-news, child-payment } from modules

block append settings
  -
    var heading = 'Добро пожаловать в личный кабинет';

block main-content

  // start content-header 
  .content-header(class='main-content__header')
    ._container.container
      ._main
        h1._heading= heading
  // end content-header 

  // start content-body 
  .content-body(class='main-content__body')
    ._container.container
      
      // start content-section 
      +module-work-tips({
        heading: 'Советы по началу работы с личным кабинетом:',
        data: WORKTIPS
      }, {
        class: 'content-body__section'
      })
      // end content-section 

      // start section-layout 
      .section-layout._layout
        ._grid
          ._column.-childs

            // start content-section 
            +module-child-payment({
              heading: 'Мои дети и информация по оплате:',
              more: {
                href: '#',
                title: 'История платежей'
              },
              data: CHILDPAYMENT
            })
            // end content-section 

          ._column.-actions

            // start content-section 
            +module-current-shares({
              heading: 'Действующие акции:',
              more: {
                href: '#',
                title: 'Все акции'
              },
              data: CURRENTSHARES
            })
            // end content-section 

      // end section-layout 

      // start content-section 
      +module-latest-news({
        heading: 'Последние новости:',
        more: {
          href: 'news.html',
          title: 'Все новости'
        },
        data: LATESTNEWS,
        slider: true
      }, {
        class: 'content-body__section'
      })
      // end content-section 

      // start content-section 
      +module-personal-offers({
        heading: 'Персональные предложения интернет-магазина:',
        more: {
          href: 'shop.html',
          title: 'Смотреть все'
        },
        data: PRODUCTS.personalOffsers,
        slider: true
      }, {
        class: 'content-body__section'
      })
      // end content-section 

  // end content-body 
