//- include component:card2

doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= DATA.title
  body
   // start h1 
   h1= DATA.title
   // end h1 

   //- +card2-component()

   // start div 
   div
      a(href="#" title="")
         img(src="assets/", alt="")
         span Ссылка
   // end div 

   // start ul 
   ul
      li Lorem ipsum dolor sit amet.
      li Iure dolores nostrum cumque sed?
      li Inventore in dicta perspiciatis omnis.
      li In, laudantium dignissimos? Totam, deserunt!
   // end ul 
