extends _template.pug

include ..\..\..\..\dev\temp\modules\forgout-password\template


block append settings
  -
    heading = 'Восстановление пароля';

    mainForm = {
      title: {
        default: 'Восстановление',
        primary: 'пароля'
      },
      caption: 'Для восстановление пароля, необходимо ввести E-mail:'
    };

    returnLink = {
      href: 'index.html',
      title: 'Вернуться к авторизации'
    };

block main-form

  +module-forgout-password({}, {
    class: 'main-form__intro'
  })
