.menu-profile {
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0 0 25px;
    font-size: 22px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    color: rgba(255, 255, 255, 0.6);

    &--current {
      color: var(--white-color);

      .menu-profile__link {
        background-color: #282828;
        border-radius: 5px 0 0 5px;
      }
    }

    &--shop {
      margin-top: auto;

      .menu-profile__link {
        &::before {
          content: '';
          flex-shrink: 0;
          position: relative;
          top: -2px;
          margin-right: 6px;
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.6" d="M8.39827 11.2091C8.58459 11.2091 8.76328 11.1356 8.89503 11.0048C9.02678 10.8739 9.10079 10.6965 9.10079 10.5114V9.116C9.10079 8.93095 9.02678 8.75349 8.89503 8.62264C8.76328 8.49179 8.58459 8.41829 8.39827 8.41829C8.21194 8.41829 8.03325 8.49179 7.9015 8.62264C7.76976 8.75349 7.69574 8.93095 7.69574 9.116V10.5114C7.69574 10.6965 7.76976 10.8739 7.9015 11.0048C8.03325 11.1356 8.21194 11.2091 8.39827 11.2091ZM5.58816 11.2091C5.77448 11.2091 5.95317 11.1356 6.08492 11.0048C6.21667 10.8739 6.29069 10.6965 6.29069 10.5114V9.116C6.29069 8.93095 6.21667 8.75349 6.08492 8.62264C5.95317 8.49179 5.77448 8.41829 5.58816 8.41829C5.40184 8.41829 5.22315 8.49179 5.0914 8.62264C4.95965 8.75349 4.88563 8.93095 4.88563 9.116V10.5114C4.88563 10.6965 4.95965 10.8739 5.0914 11.0048C5.22315 11.1356 5.40184 11.2091 5.58816 11.2091ZM11.9109 2.8366H10.9414L9.72604 0.429496C9.6889 0.340924 9.63377 0.260911 9.56409 0.194457C9.49441 0.128003 9.41167 0.0765359 9.32106 0.0432727C9.23044 0.0100095 9.13389 -0.00433523 9.03744 0.00113496C8.94099 0.00660516 8.84672 0.0317728 8.7605 0.0750649C8.67429 0.118357 8.59799 0.178843 8.53638 0.252744C8.47477 0.326644 8.42917 0.41237 8.40243 0.504566C8.37568 0.596761 8.36837 0.693443 8.38095 0.788571C8.39353 0.883698 8.42574 0.975227 8.47554 1.05744L9.36775 2.8366H4.61868L5.51088 1.05744C5.57907 0.894804 5.58279 0.712573 5.5213 0.54733C5.4598 0.382087 5.33764 0.246066 5.17933 0.166575C5.02103 0.0870837 4.83832 0.0700084 4.66786 0.118777C4.49741 0.167545 4.35184 0.278547 4.26039 0.429496L3.04502 2.8366H2.07553C1.57898 2.8441 1.10104 3.0255 0.726013 3.34881C0.350985 3.67212 0.10296 4.11657 0.0256795 4.60377C-0.0516007 5.09096 0.0468294 5.58962 0.30361 6.01178C0.56039 6.43393 0.959025 6.75248 1.42921 6.91123L1.94908 12.1162C2.0015 12.6343 2.24649 13.1143 2.6362 13.4627C3.02591 13.811 3.53236 14.0026 4.05665 14H9.94382C10.4681 14.0026 10.9746 13.811 11.3643 13.4627C11.754 13.1143 11.999 12.6343 12.0514 12.1162L12.5713 6.91123C13.0425 6.75201 13.4417 6.4323 13.6983 6.00873C13.9549 5.58516 14.0523 5.08506 13.9732 4.59702C13.8941 4.10898 13.6437 3.66449 13.2662 3.34228C12.8887 3.02007 12.4086 2.84093 11.9109 2.8366ZM10.6393 11.9766C10.6219 12.1493 10.5402 12.3093 10.4103 12.4255C10.2804 12.5416 10.1116 12.6054 9.9368 12.6046H4.04963C3.87486 12.6054 3.70605 12.5416 3.57614 12.4255C3.44624 12.3093 3.36458 12.1493 3.3471 11.9766L2.84831 7.02286H11.1381L10.6393 11.9766ZM11.9109 5.62744H2.07553C1.88921 5.62744 1.71052 5.55393 1.57877 5.42309C1.44702 5.29224 1.373 5.11478 1.373 4.92973C1.373 4.74469 1.44702 4.56722 1.57877 4.43638C1.71052 4.30553 1.88921 4.23202 2.07553 4.23202H11.9109C12.0972 4.23202 12.2759 4.30553 12.4077 4.43638C12.5394 4.56722 12.6134 4.74469 12.6134 4.92973C12.6134 5.11478 12.5394 5.29224 12.4077 5.42309C12.2759 5.55393 12.0972 5.62744 11.9109 5.62744Z" fill="white"/%3E%3C/svg%3E%0A') center no-repeat;
          vertical-align: middle;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin: * -25px * -18px;
    padding: 14px 25px 14px 18px;
  }

  &__count {
    flex-shrink: 0;
    margin-left: 7px;
  }
}
