mixin module-main-footer(data, attrs)
  .main-footer&attributes(attrs)
    a._policy(href='#' title='Политика конфиденциальности') Политика конфиденциальности
    p._copyright &copy; 2016-2019 Все права защищены
