.work-tips {
  &__slider {
    width: 100%;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    margin-right: 15px;
    width: calc(50% - 7.5px);
  }
}
