include ..\..\..\..\dev\temp\components\product-card\template
include ..\..\..\..\dev\temp\components\link-more\template
include ..\..\..\..\dev\temp\components\button\template


mixin module-personal-offers(data, attrs)
  section.content-section&attributes(attrs)
    if (data.heading || data.more)
      .section-header._header
        ._main
          h2._heading= data.heading
        
        if (data.more)
          ._aside
            +component-link-more({
              href: data.more.href,
              title: data.more.title
            }, {
              class: 'section-header__link-more'
            })

    .section-body.-secondary._body
      ._inner
        if (data.slider)
          .section-slider._slider
            ._wrapper.js-slider-wrapper

              each product in data.data
                ._slide.js-slider-slide
                  +component-product-card(product, {
                    class: 'section-slider__product-card'
                  })
        
        else
          .section-grid._grid

              each product in data.data
                ._column
                  +component-product-card(product, {
                    class: 'section-grid__product-card'
                  })
    
    if (!data.slider)
      .section-footer(class='content-section__footer')
        ._actions
          +component-button({
            title: 'Показать еще',
            type: 'secondary',
            size: 'sm'
          }, {
            class: 'section-footer__button'
          })

          +component-button({
            href: '#',
            title: 'Перейти в магазин',
            type: 'secondary',
            size: 'sm'
          }, {
            class: 'section-footer__button'
          })
