include ..\..\..\..\dev\temp\components\slider-counter\template
include ..\..\..\..\dev\temp\components\slider-navigation\template
include ..\..\..\..\dev\temp\components\tip-card\template


mixin module-work-tips(data, attrs)
  section.content-section&attributes(attrs)
    .section-header._header
      ._main
        h2._heading= data.heading
      
      ._aside
        ._actions
          +component-slider-counter({}, {
            class: 'section-header__slider-counter js-work-tips-slider-counter'
          })

          +component-slider-navigation({
            prevElClass: 'js-work-tips-slider-prev',
            nextElClass: 'js-work-tips-slider-next'
          }, {
            class: 'section-header__slider-navigation'
          })

    .section-body._body
      ._inner

        .work-tips._work-tips
          ._slider.js-work-tips-slider
            ._wrapper.js-slider-wrapper

              each tip in data.data
                ._slide.js-slider-slide
                  +component-tip-card(tip, {
                    class: 'section-body__tip-card'
                  })
