extends ../_template.pug

include ..\..\..\..\dev\temp\modules\page-aside\template
include ..\..\..\..\dev\temp\modules\main-header\template
include ..\..\..\..\dev\temp\modules\main-footer\template


block append page

  // start page-body 
  .page-body(class='page__body')
    block page-body

      // start page-aside 
      +module-page-aside({}, {
          class: 'page-body__aside'
      })
      // end page-aside 

      // start page-main 
      main.page-main(class='page-body__main')

        // start main-header 
        +module-main-header({}, {
            class: 'page-main__header'
        })
        // end main-header 

        // start main-content
        ._barba#barba-wrapper
          .main-content.js-main-content(class='page-main__content')

            block main-content

          // end main-content 

        // start main-footer 
        +module-main-footer({}, {
            class: 'page-main__footer'
        })
        // end main-footer 

      // end page-main 
  // end page-body 
